Repository typelevel/natchez: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label core-tests PRs, Label datadog PRs, Label docs PRs, Label examples PRs, Label honeycomb PRs, Label jaeger PRs, Label lightstep PRs, Label lightstep-grpc PRs, Label lightstep-http PRs, Label log PRs, Label log-odin PRs, Label mock PRs, Label mtl PRs, Label newrelic PRs, Label noop PRs, Label opencensus PRs, Label opentelemetry PRs, Label opentracing PRs, Label testkit PRs, Label xray PRs

Path conditions:
  Label core PRs: any of: ^modules/core/
  Label core-tests PRs: any of: ^modules/core-tests/
  Label datadog PRs: any of: ^modules/datadog/
  Label docs PRs: any of: ^modules/docs/
  Label examples PRs: any of: ^modules/examples/
  Label honeycomb PRs: any of: ^modules/honeycomb/
  Label jaeger PRs: any of: ^modules/jaeger/
  Label lightstep PRs: any of: ^modules/lightstep/
  Label lightstep-grpc PRs: any of: ^modules/lightstep-grpc/
  Label lightstep-http PRs: any of: ^modules/lightstep-http/
  Label log PRs: any of: ^modules/log/
  Label log-odin PRs: any of: ^modules/log-odin/
  Label mock PRs: any of: ^modules/mock/
  Label mtl PRs: any of: ^modules/mtl/
  Label newrelic PRs: any of: ^modules/newrelic/
  Label noop PRs: any of: ^modules/noop/
  Label opencensus PRs: any of: ^modules/opencensus/
  Label opentelemetry PRs: any of: ^modules/opentelemetry/
  Label opentracing PRs: any of: ^modules/opentracing/
  Label testkit PRs: any of: ^modules/testkit/
  Label xray PRs: any of: ^modules/xray/

remove additional changes
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  project/plugins.sbt
Due: none

Set `startYear`
  build.sbt
Due: none

Revert "Update nscplugin, sbt-scala-native to 0.5.5"
  project/plugins.sbt
Due: none

Remove explicit dependency on scodec-bits (pick up via fs2)
  build.sbt
Due: none

Add a variant of `Trace.ioTrace` that takes an existing IOLocal
  modules/core/shared/src/main/scala/Trace.scala
Due: Label core PRs

reconfigure Mergify with sbt-typelevel-mergify
  .mergify.yml
  build.sbt
Due: none

remove series/0.1 from tlCiReleaseBranches since we no longer use that branch
  .github/workflows/ci.yml
  build.sbt
Due: none

Address compilation warnings from Scala 3 update
  modules/log/shared/src/main/scala/LogSpan.scala
Due: Label log PRs

Add Cats Monoid and Eq instances for Kernel
  build.sbt
  modules/core-tests/shared/src/test/scala/KernelInstancesLawSuite.scala
  modules/core/shared/src/main/scala/Kernel.scala
  modules/testkit/shared/src/main/scala/Arbitraries.scala
Due: Label core PRs, Label core-tests PRs, Label testkit PRs

Monoid[Kernel] should not combine values under the same key
  modules/core-tests/shared/src/test/scala/KernelInstancesLawSuite.scala
  modules/core/shared/src/main/scala/Kernel.scala
Due: Label core PRs, Label core-tests PRs

Add Cats and ScalaCheck instances (#1071)
  build.sbt
  modules/core-tests/shared/src/test/scala/KernelInstancesLawSuite.scala
  modules/core/shared/src/main/scala/Kernel.scala
  modules/testkit/shared/src/main/scala/Arbitraries.scala
Due: Label core PRs, Label core-tests PRs, Label testkit PRs

Add an example of Trace instance for IO
  modules/docs/src/main/paradox/reference/trace.md
Due: Label docs PRs

Add an EntryPoint example
  modules/docs/src/main/paradox/reference/trace.md
Due: Label docs PRs

Prefer constructing Trace from EntryPoint
  modules/docs/src/main/paradox/reference/trace.md
Due: Label docs PRs

Add an example of Trace instance for IO (#1108)
  modules/docs/src/main/paradox/reference/trace.md
Due: Label docs PRs

add gitignore
  .gitignore
Due: none

Regenerate site
  backends/datadog.html
  backends/honeycomb.html
  backends/index.html
  backends/jaeger.html
  backends/lightstep.html
  backends/log.html
  backends/mock.html
  backends/newrelic.html
  backends/noop.html
  backends/odin.html
  backends/opencensus.html
  backends/opentelemetry.html
  examples/http4s.html
  examples/index.html
  index.html
  overview.html
  paradox.json
  reference/entrypoints.html
  reference/index.html
  reference/kernels.html
  reference/spans.html
  reference/trace.html
  reference/tracevalues.html
Due: none

Add imapK to Trace to support changing its effect type
  modules/core/shared/src/main/scala/Trace.scala
Due: Label core PRs

Address deprecation warnings caused by the cats-effect update
  modules/examples/src/main/scala/Example.scala
  modules/log/shared/src/main/scala/Log.scala
  modules/log/shared/src/main/scala/LogSpan.scala
Due: Label examples PRs, Label log PRs

fix compilation errors introduced by opentelemetry-semconv update
  modules/docs/src/main/paradox/backends/opentelemetry.md
  modules/docs/src/main/scala/Junk.scala
  modules/examples/src/main/scala/OpenTelemetryExample.scala
Due: Label docs PRs, Label examples PRs

appease the formatter
  modules/examples/src/main/scala/Example.scala
  modules/log/shared/src/main/scala/Log.scala
  modules/log/shared/src/main/scala/LogSpan.scala
Due: Label examples PRs, Label log PRs

Add imapK to Trace to support changing its effect type (#1169)
  modules/core/shared/src/main/scala/Trace.scala
Due: Label core PRs

fix "missing parameter type for expanded function" errors
  modules/log/shared/src/test/scala/LogSuite.scala
Due: Label log PRs

Remove tlSonatypeLegacyHost
  build.sbt
Due: none

Ignore active span when creating root span with DataDog
  modules/datadog/src/main/scala/DDEntryPoint.scala
Due: Label datadog PRs

Activate child spans just like root spans
  modules/datadog/src/main/scala/DDSpan.scala
Due: Label datadog PRs

Add option to disable span activation
  modules/core/shared/src/main/scala/Span.scala
  modules/datadog/src/main/scala/DDEntryPoint.scala
  modules/datadog/src/main/scala/DDSpan.scala
Due: Label core PRs, Label datadog PRs

Attempt to fix mima
  build.sbt
Due: none

Use copy
  modules/core/shared/src/main/scala/Span.scala
Due: Label core PRs

Rename to shouldActivateSpan
  modules/core/shared/src/main/scala/Span.scala
  modules/datadog/src/main/scala/DDEntryPoint.scala
  modules/datadog/src/main/scala/DDSpan.scala
Due: Label core PRs, Label datadog PRs

Move scaladoc to setter where it's more useful and expand
  modules/core/shared/src/main/scala/Span.scala
Due: Label core PRs

Add method to run code with activated span for interop with Java libraries
  modules/core/shared/src/main/scala/Span.scala
  modules/datadog/src/main/scala/DDSpan.scala
  modules/jaeger/src/main/scala/JaegerSpan.scala
  modules/lightstep/src/main/scala/LightstepSpan.scala
  modules/opencensus/src/main/scala/OpenCensusSpan.scala
  modules/opentelemetry/src/main/scala/natchez/opentelemetry/OpenTelemetrySpan.scala
Due: Label core PRs, Label datadog PRs, Label jaeger PRs, Label lightstep PRs, Label opencensus PRs, Label opentelemetry PRs

Ignore active span when creating root span with DataDog (#1185)
  modules/datadog/src/main/scala/DDEntryPoint.scala
Due: Label datadog PRs

Do not activate span since thread-local propagation does not work correctly when using cats-effect.
  modules/datadog/src/main/scala/DDEntryPoint.scala
Due: Label datadog PRs

Add noop EntryPoint
  modules/core/shared/src/main/scala/EntryPoint.scala
Due: Label core PRs

Add noop EntryPoint (#1192)
  modules/core/shared/src/main/scala/EntryPoint.scala
Due: Label core PRs

OTel: record canceled spans as errors
  modules/opentelemetry/src/main/scala/natchez/opentelemetry/OpenTelemetrySpan.scala
Due: Label opentelemetry PRs

add ListValue to TraceValue ADT
  modules/core/shared/src/main/scala/TraceValue.scala
  modules/datadog/src/main/scala/DDSpan.scala
  modules/jaeger/src/main/scala/JaegerSpan.scala
  modules/lightstep/src/main/scala/LightstepSpan.scala
  modules/log-odin/src/main/scala/LogSpan.scala
  modules/log/shared/src/main/scala/LogSpan.scala
  modules/mock/src/main/scala/MockSpan.scala
  modules/newrelic/src/main/scala/natchez/newrelic/NewrelicSpan.scala
  modules/opencensus/src/main/scala/OpenCensusSpan.scala
  modules/opentelemetry/src/main/scala/natchez/opentelemetry/OpenTelemetrySpan.scala
  modules/xray/src/main/scala/natchez/xray/XRaySpan.scala
Due: Label core PRs, Label datadog PRs, Label jaeger PRs, Label lightstep PRs, Label log PRs, Label log-odin PRs, Label mock PRs, Label newrelic PRs, Label opencensus PRs, Label opentelemetry PRs, Label xray PRs

add NoneValue to TraceValue ADT
  modules/core/shared/src/main/scala/TraceValue.scala
  modules/datadog/src/main/scala/DDSpan.scala
  modules/jaeger/src/main/scala/JaegerSpan.scala
  modules/lightstep/src/main/scala/LightstepSpan.scala
  modules/log-odin/src/main/scala/LogSpan.scala
  modules/log/shared/src/main/scala/LogSpan.scala
  modules/mock/src/main/scala/MockSpan.scala
  modules/newrelic/src/main/scala/natchez/newrelic/NewrelicSpan.scala
  modules/opencensus/src/main/scala/OpenCensusSpan.scala
  modules/opentelemetry/src/main/scala/natchez/opentelemetry/OpenTelemetrySpan.scala
  modules/xray/src/main/scala/natchez/xray/XRaySpan.scala
Due: Label core PRs, Label datadog PRs, Label jaeger PRs, Label lightstep PRs, Label log PRs, Label log-odin PRs, Label mock PRs, Label newrelic PRs, Label opencensus PRs, Label opentelemetry PRs, Label xray PRs
