Repository typelevel/natchez: changes, and which Mergify rules are due for each by the changed paths.
All: Label core PRs, Label core-tests PRs, Label datadog PRs, Label docs PRs, Label examples PRs, Label honeycomb PRs, Label jaeger PRs, Label lightstep PRs, Label lightstep-grpc PRs, Label lightstep-http PRs, Label log PRs, Label log-odin PRs, Label mock PRs, Label mtl PRs, Label newrelic PRs, Label noop PRs, Label opencensus PRs, Label opentelemetry PRs, Label opentracing PRs, Label testkit PRs, Label xray PRs

Label core PRs:
  label:
    add:
    - core
    remove: []

Label core-tests PRs:
  label:
    add:
    - core-tests
    remove: []

Label datadog PRs:
  label:
    add:
    - datadog
    remove: []

Label docs PRs:
  label:
    add:
    - docs
    remove: []

Label examples PRs:
  label:
    add:
    - examples
    remove: []

Label honeycomb PRs:
  label:
    add:
    - honeycomb
    remove: []

Label jaeger PRs:
  label:
    add:
    - jaeger
    remove: []

Label lightstep PRs:
  label:
    add:
    - lightstep
    remove: []

Label lightstep-grpc PRs:
  label:
    add:
    - lightstep-grpc
    remove: []

Label lightstep-http PRs:
  label:
    add:
    - lightstep-http
    remove: []

Label log PRs:
  label:
    add:
    - log
    remove: []

Label log-odin PRs:
  label:
    add:
    - log-odin
    remove: []

Label mock PRs:
  label:
    add:
    - mock
    remove: []

Label mtl PRs:
  label:
    add:
    - mtl
    remove: []

Label newrelic PRs:
  label:
    add:
    - newrelic
    remove: []

Label noop PRs:
  label:
    add:
    - noop
    remove: []

Label opencensus PRs:
  label:
    add:
    - opencensus
    remove: []

Label opentelemetry PRs:
  label:
    add:
    - opentelemetry
    remove: []

Label opentracing PRs:
  label:
    add:
    - opentracing
    remove: []

Label testkit PRs:
  label:
    add:
    - testkit
    remove: []

Label xray PRs:
  label:
    add:
    - xray
    remove: []

add TraceableValue[F[A, B]] instance for F[_, _]: Bifoldable
  modules/core-tests/shared/src/test/scala/TraceValueTest.scala
  modules/core/shared/src/main/scala/TraceValue.scala
Due: Label core PRs, Label core-tests PRs

OTel: record canceled spans as errors
  modules/opentelemetry/src/main/scala/natchez/opentelemetry/OpenTelemetrySpan.scala
Due: Label opentelemetry PRs

add traceValueIdentity: TraceableValue[TraceValue]
  modules/core/shared/src/main/scala/TraceValue.scala
Due: Label core PRs

add @FunctionalInterface to TraceableValue to resolve warnings
  modules/core/shared/src/main/scala/TraceValue.scala
Due: Label core PRs

Add method to run code with activated span for interop with Java libraries (#1189)
  modules/core/shared/src/main/scala/Span.scala
  modules/datadog/src/main/scala/DDSpan.scala
  modules/jaeger/src/main/scala/JaegerSpan.scala
  modules/lightstep/src/main/scala/LightstepSpan.scala
  modules/opencensus/src/main/scala/OpenCensusSpan.scala
  modules/opentelemetry/src/main/scala/natchez/opentelemetry/OpenTelemetrySpan.scala
Due: Label core PRs, Label datadog PRs, Label jaeger PRs, Label lightstep PRs, Label opencensus PRs, Label opentelemetry PRs

Fix trace ID collision in DDEntryPoint.continue()
  modules/datadog/src/main/scala/DDEntryPoint.scala
Due: Label datadog PRs

Fix trace ID collision in DDEntryPoint.continue()
  modules/datadog/src/main/scala/DDEntryPoint.scala
  modules/datadog/src/test/scala/DDEntryPointSuite.scala
Due: Label datadog PRs

format
  modules/datadog/src/test/scala/DDEntryPointSuite.scala
Due: Label datadog PRs

use ref
  modules/datadog/src/test/scala/DDEntryPointSuite.scala
Due: Label datadog PRs

Fix trace ID collision in DDEntryPoint.continue() (#1270)
  modules/datadog/src/main/scala/DDEntryPoint.scala
  modules/datadog/src/test/scala/DDEntryPointSuite.scala
Due: Label datadog PRs

Do not activate span since thread-local propagation does not work correctly when using cats-effect. (#1191)
  modules/datadog/src/main/scala/DDEntryPoint.scala
Due: Label datadog PRs

Update Scala Native to 0.5.11
  .github/workflows/ci.yml
  build.sbt
  modules/xray/src/main/scala/natchez/xray/XRay.scala
  project/plugins.sbt
Due: Label xray PRs

fix mima
  build.sbt
Due: none

discipline 2.0.0
  build.sbt
Due: none

switch mima to 0.3.10 instead 0.4.0
  build.sbt
Due: none

Update Scala Native to 0.5.11 (#1298)
  .github/workflows/ci.yml
  build.sbt
  modules/xray/src/main/scala/natchez/xray/XRay.scala
  project/plugins.sbt
Due: Label xray PRs

Add Trace.fromIOLocal for building a Trace[IO] from an existing IOLocal
  modules/core/shared/src/main/scala/Trace.scala
Due: Label core PRs

Add PropagatingInMemory testkit backend
  modules/core-tests/shared/src/test/scala/PropagatingInMemorySuite.scala
  modules/testkit/shared/src/main/scala/PropagatingInMemory.scala
Due: Label core-tests PRs, Label testkit PRs

Fix groupMapReduce use that breaks Scala 2.12 compile
  modules/core-tests/shared/src/test/scala/PropagatingInMemorySuite.scala
Due: Label core-tests PRs

Demote unmoored constructor-param doc comment to a plain comment
  modules/testkit/shared/src/main/scala/PropagatingInMemory.scala
Due: Label testkit PRs

fix NullPointerException when XRay tries to serialize an exception with a null message
  build.sbt
  modules/xray/src/main/scala/natchez/xray/XRaySpan.scala
  modules/xray/src/test/scala/XRaySpanSuite.scala
Due: Label xray PRs

Path conditions:
  Label core PRs: any of: ^modules/core/
  Label core-tests PRs: any of: ^modules/core-tests/
  Label datadog PRs: any of: ^modules/datadog/
  Label docs PRs: any of: ^modules/docs/
  Label examples PRs: any of: ^modules/examples/
  Label honeycomb PRs: any of: ^modules/honeycomb/
  Label jaeger PRs: any of: ^modules/jaeger/
  Label lightstep PRs: any of: ^modules/lightstep/
  Label lightstep-grpc PRs: any of: ^modules/lightstep-grpc/
  Label lightstep-http PRs: any of: ^modules/lightstep-http/
  Label log PRs: any of: ^modules/log/
  Label log-odin PRs: any of: ^modules/log-odin/
  Label mock PRs: any of: ^modules/mock/
  Label mtl PRs: any of: ^modules/mtl/
  Label newrelic PRs: any of: ^modules/newrelic/
  Label noop PRs: any of: ^modules/noop/
  Label opencensus PRs: any of: ^modules/opencensus/
  Label opentelemetry PRs: any of: ^modules/opentelemetry/
  Label opentracing PRs: any of: ^modules/opentracing/
  Label testkit PRs: any of: ^modules/testkit/
  Label xray PRs: any of: ^modules/xray/
